.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h2 Sign Up
      .panel-body
        .auth-providers
          .provider.fb
            = link_to user_facebook_omniauth_authorize_path do
              = fa_icon 'facebook 2x'
              %span Sign up with Facebook

          .provider.google
            = link_to user_google_oauth2_omniauth_authorize_path do
              = fa_icon 'google 2x'
              %span Sign up with Google
        .or-divider
          %span or

        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-group
            = f.input :username, required: true, autofocus: true, input_html: { class: 'form-control' }
            = f.input :email, required: true, input_html: { class: 'form-control' }
            = f.input :password, required: true, input_html: { class: 'form-control' }
            = f.input :password_confirmation, required: true, input_html: { class: 'form-control' }
          %br/
          .form-actions
            = f.button :submit, "Sign Up", class: "btn button-full"
          %br/
      .panel-footer
        = render "devise/shared/links"
