<div class="container background">
  <h1><%= header %></h1>

  <%= simple_form_for(@recipe, html: { class: 'form-horizontal', multipart: true }) do |f| %>
    <% if recipe.errors.any? %>
      <div class="alert alert-danger">
        <h5><strong><%= pluralize(recipe.errors.count, "error") %> prevented this recipe from being saved:</strong></h5>

        <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { class: 'form-control'} %>
      </div>
      <div class="col-md-6">
        <%= f.input :image, as: :file, input_html: { class: 'form-control'} %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :description, input_html: { class: 'form-control'} %>
      </div>
      <div class="col-md-6 col-right">
        <div class="row">
          <%= f.input :time, label: 'Ready in (H:Min)', input_html: { class: 'form-control'} %>
          <%= f.input :portions, input_html: { class: 'form-control'}, placeholder: 'eg 4', min: '1' %>
          <%= f.collection_select :category_id, Category.all, :id, :name,
           {prompt: "Choose a category"}, class: 'form-control' %>
          <%= f.input :tip, input_html: { class: 'form-control'} %>
        </div>
      </div>
    </div>


    <div class="row last_row_form">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h4><strong>Ingredients</strong></h4></div>
          <div class="panel-body">
            <div id="ingredients">
              <%= f.simple_fields_for :ingredients,  html: { class: 'form-horizontal' } do |ingredient| %>
                <%= render 'ingredient_fields', :f => ingredient %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'add ingredient', f, :ingredients,
                 class: 'btn btn-default add-button' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h4><strong>Steps</strong></h4></div>
          <div class="panel-body">
            <div id="steps">
              <%= f.simple_fields_for :steps do |step| %>
                <%= render 'step_fields', :f => step %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'add step', f, :steps,
                 class: 'btn btn-default add-button' %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="actions" style="margin-bottom: 30px">
      <%= f.button :submit, class: "btn btn-primary" %>
      <% if defined?(edit) %>
        <%= link_to 'Remove Recipe', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
      <% end %>
    </div>

  <% end %>
</div>
