<%= simple_form_for(@recipe, html: { class: 'form-horizontal' }) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">
    <%= f.input :name, input_html: { class: 'form-control'} %>
    <%= f.input :description, input_html: { class: 'form-control'} %>
    <%= f.input :image, as: :file, input_html: { class: 'form-control'} %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>ingredients</h3>
      <div class="panel-body">
        <div id="ingredients">
          <%= f.simple_fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', :f => ingredient %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'add ingredient', f, :ingredients,
             class: 'btn btn-default add-button' %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
