<div class="row">
  <div class="col-md-6">
    <div class="recipe">
      <div class=" image_wrapper">
        <%= image_tag @recipe.image.url(:big) %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="description">
      <h3><%= @recipe.name %></h3>
      <span>
        <%= fa_icon "clock-o 2x" %>   <%= @recipe.time.hour %>:<%= @recipe.time.min %>
      </span>
      <span>
        <%= fa_icon "group 2x" %>   <%= @recipe.portions.to_s %>
      </span>
      <p>
        <%= @recipe.description %>
      </p>
      <h5>added by <strong><%= @recipe.user.username %></strong> </h5>
      <% if @recipe.user == current_user %>
        <%= link_to 'Edit', edit_recipe_path(@recipe) %>
      <% end %>  
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="ingredients">
      <h3>Ingredients</h3>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="steps">
      <h3>Steps</h3>
      <ol>
        <% @recipe.steps.each do |step| %>
          <li><%= step.step %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

<div class="row">
  <div class="tip">
    <h5><strong>Cook's Tip </strong> <%= fa_icon "lightbulb-o 2x" %></h5>
    <p><%= @recipe.tip %></p>
  </div>
</div>
