.row
  .col-md-6
    .recipe
      .image-wrapper
        = image_tag @recipe.image.url(:big)
  .col-md-6
    .description
      %h3= @recipe.name
      .recipe-infos
        %div
          = fa_icon "clock-o 2x"
          = @recipe.preparation_time
        %div
          = fa_icon "group 2x"
          = @recipe.portions.to_s
        .review-rating-box
          .average-review-rating{"data-score" => "#{@recipe.average_review}"}
          .counts-review-rating= "#{@recipe.counts_review}"
      %p
        = @recipe.description
      %h5
        added by
        %strong= @recipe.user.username
        = @recipe.edit_link
.row
  .col-md-6
    .ingredients
      %h3 Ingredients
      %ul
        - @recipe.ingredients.each do |ingredient|
          %li= ingredient.name
  .col-md-6
    .steps
      %h3 Steps
      %ol
        - @recipe.steps.each do |step|
          %li= step.step
- if @recipe.tip?
  .row
    .tip
      %h5
        %strong Cook's Tip
        = fa_icon "lightbulb-o 2x"
      %p= @recipe.tip
.row
  .col-md-12
    .reviews
      %h3 Reviews
      #reviews
        = render @reviews
      = link_to "Add Review", new_recipe_review_path(@recipe), remote: true, class: "btn button-full"
      #paginator= paginate @reviews, remote: true


#review-form-container
