.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h2 Sign In
      .panel-body
        .auth-providers
          = link_to user_facebook_omniauth_authorize_path, class: 'provider fb' do
            = fa_icon 'facebook 2x'
            %span Sign up with Facebook

          = link_to user_google_oauth2_omniauth_authorize_path, class: 'provider google' do
            = fa_icon 'google 2x'
            %span Sign up with Google
        .or-divider
          %span or

        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.error_notification
          .form-group
            = f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' }
            = f.input :password, required: true, input_html: { class: 'form-control' }
            = f.input :remember_me, as: :boolean, input_html: { class: 'form-control' } if devise_mapping.rememberable?
          %br/
          .form-actions
            = f.button :submit, "Sign In", class: "btn button-full"
          %br/
      .panel-footer
        = render "devise/shared/links"
