.review
  .review-rating{"data-score" => "#{review.rating}"}
  .review-owner= review.user.username
  .review-date= review.formatted_created_at
  = review.owner_buttons
  .review-comment= review.comment
