%nav.navbar.navbar-default
  .container-fluid.header
    .navbar-header
      .brand-label= link_to_title 'Looks', 'Tasty!', root_path
    %ul.nav.navbar-nav.navbar-right
      %li
        = form_tag(recipes_path, method: :get, class: 'search-form') do
          .form-group
            = text_field_tag :search, params[:search], class: 'form-control'
            = button_tag(type: "submit", class: 'search-button') do
              = fa_icon "search lg"
      - if user_signed_in?
        %li{:style => "margin-right: 10px"}= link_to 'Add recipe', new_recipe_url, class: 'btn button'
        %li= link_to 'Account', edit_user_registration_path, class: 'btn button'
        %li= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn button'
      - else
        %li= link_to 'Sign In', new_user_session_path, class: 'btn button'
        %li= link_to 'Sign Up', new_user_registration_path, class: 'btn button-full'
