<!DOCTYPE html>
<html>
  <head>
    <title>LooksTasty</title>
    <%= favicon_link_tag 'chef-flat.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render 'layouts/header' %>

    <% if notice %>
      <div id="notice_wrapper">
        <p id="notice"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id="notice_wrapper">
        <p id="alert"><%= alert %></p>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
